* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: lato sans-serif;
  list-style-type: none;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.header {
  background: #fedcd1;
}
.header__logo {
  margin-right: 60px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 222px;
     -moz-column-gap: 222px;
          column-gap: 222px;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  padding: 14px 40px;
  background: #FF3F3A;
  border-radius: 4px;
  color: white;
  border: none;
}

.header__menu_link {
  text-decoration: none;
  color: #424551;
}

.enjoy {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fedcd1;
}
.enjoy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.enjoy__info {
  width: 50%;
}
.enjoy__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
  font-family: Lato sans-serif;
}
.enjoy__title {
  font-family: Lato sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
  margin-top: 24px;
}
.enjoy__mainphoto {
  width: 50%;
}
.enjoy__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin-top: 60px;
}
.enjoy__btn1 {
  padding: 14px 40px;
  gap: 10px;
  border: 1px solid #FF3F3A;
  background: #fedcd1;
  border-radius: 4px;
  color: #FF3F3A;
}
.enjoy__btn2 {
  padding: 14px 40px;
  background: #FF3F3A;
  border-radius: 4px;
  color: white;
  border: none;
}
.enjoy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 189px;
}
.enjoy__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.enjoy__item-sum {
  font-family: Lato sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
}
.enjoy__item-text {
  font-family: Lato sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.question {
  padding-top: 180px;
}
.question__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.question__img {
  width: 50%;
}
.question__info {
  width: 50%;
}
.question__who {
  font-family: Lato sans-serif;
  color: #1E212C;
  font-weight: 700;
  margin-bottom: 8px;
}
.question__list {
  margin-top: 40px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.question__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.question__btn {
  padding: 14px 40px;
  background: #FF3F3A;
  border-radius: 4px;
  color: white;
  border: none;
  margin-top: 48px;
}

.courses {
  padding: 180px 0;
}
.courses p {
  font-family: Lato sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
}
.courses__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__top h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
}
.courses__top button {
  padding: 14px 40px;
  color: #FF3F3A;
  background: none;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}
.courses__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__card {
  margin-top: 60px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 32px;
  border: 1px solid #E5E8ED;
}
.courses__text {
  margin-left: 32px;
}
.courses__text button {
  padding: 1px 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #03CEA4;
  border: none;
  border-radius: 4px;
  color: white;
}
.courses__text h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
  margin: 20px 0;
}
.courses__text span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #FF4242;
}
.courses__text span:after {
  width: 1px;
  height: 16px;
  color: #787A80;
  position: absolute;
}
.courses__text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}

.how {
  margin-bottom: 120px;
}
.how__title {
  text-align: center;
}
.how__title p {
  font-family: Lato sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.how__title h2 {
  font-size: 46px;
  font-family: Lato sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
}
.how__extrabtn {
  border: 1px solid #FF3F3A;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 307px;
  height: 46px;
  padding: 10px 68.5px 10px 70.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.how__btn {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 307px;
  height: 46px;
  padding: 10px 68.5px 10px 70.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #9A9CA5;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.how__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.how__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.how__text {
  margin-top: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.how__text h3 {
  font-family: Lato sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
}
.how__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: Lato sans-serif;
  color: #424551;
}
.how__img {
  margin-top: 60px;
}

.event {
  background: #fedcd1;
  padding: 150px 0;
}
.event__title {
  text-align: center;
}
.event__title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.event__title h2 {
  font-family: Lato sans-serif;
  color: #1E212C;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
}
.event__accardions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  padding: 60px 0;
}
.event__btn {
  margin-left: 238px;
}
.event__accardion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  width: 1230px;
  height: 126px;
  padding: 34px 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.event__accardion h3 {
  color: #FF3F3A;
  font-family: Lato sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}
.event__accardion__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
}
.event__accardion h5 {
  font-family: Lato sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.event__accardion h6 {
  font-family: Lato sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.event__accardion button {
  padding: 8px 32px;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  background: none;
  color: #FF3F3A;
}
.event__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.event__more h3 {
  font-family: Lato sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.event__more button {
  padding: 14px 40px;
  color: white;
  background: #FF3F3A;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}
.event__accardion-desc {
  display: none;
}
.event__accardion.active .event__accardion-desc {
  display: block;
}

.certificate {
  padding: 120px 0;
}
.certificate__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.certificate__text {
  width: 395px;
}
.certificate__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
  margin-bottom: 8px;
}
.certificate__text h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
  margin-bottom: 48px;
}
.certificate__text h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #424551;
  margin-bottom: 38px;
}
.certificate__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.certificate__img {
  width: 50%;
}

.team {
  background: #F4F5F6;
}
.team p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.team__title h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
  margin-bottom: 60px;
}
.team__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 60px;
}
.team__people .team__hover {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__people .team__hover p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
  margin-bottom: 8px;
}
.team__people .team__hover h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team__people .team__idle {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__people .team__idle p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.team__people .team__idle h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team__people .team__idle-img {
  background: #FFCF2D;
}
.team__people .team__idle3 {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__people .team__idle3 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.team__people .team__idle3 h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team__people .team__idle4 {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__people .team__idle4 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.team__people .team__idle4 h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team .team__idle-img {
  background: #FFCF2D;
  padding: 20px 20px 0;
}
.team .team__hover {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team__hover p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
  margin-bottom: 8px;
}
.team .team__hover h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team .team__idle {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team__idle p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.team .team__idle h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team .team__idle3 {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team__idle3 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.team .team__idle3 h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}
.team .team__idle4 {
  width: 285px;
  height: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team__idle4 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.team .team__idle4 h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #424551;
}

.comment {
  padding: 180px 0 160px;
  background: #F4F5F6;
}
.comment__title {
  text-align: center;
}
.comment__title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.comment__title h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
}
.comment__main {
  margin-top: 60px;
  background: white;
  padding: 64px 105px;
}
.comment__main .comment__text {
  display: inline;
}
.comment__main .comment__text p {
  color: #424551;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: inline;
  width: 652px;
}
.comment__main .comment__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.comment__main .comment__avatar .comment__avatartext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  text-align: center;
  padding-top: 10px;
}
.comment__main .comment__avatar .comment__avatartext h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.comment__main .comment__avatar .comment__avatartext p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}

.posts {
  padding-top: 120px;
}
.posts .p__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
  margin-bottom: 10px;
}
.posts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.posts__title button {
  color: white;
  background: #FF3F3A;
  padding: 14px 40px;
  border-radius: 4px;
  border: none;
}
.posts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.posts__cards .posts__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.posts__cards .posts__time p {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #787A80;
}
.posts__cards .posts__time .time {
  color: #787A80;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.posts__cards .posts__card {
  width: 390px;
  height: 507px;
}
.posts__cards .posts__card img {
  width: 390px;
  height: 300px;
}
.posts__cards .posts__card .posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  margin-top: 16px;
}
.posts__cards h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.posts__cards h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #787A80;
}
.posts__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
  margin-top: 16px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.email {
  background: #fedcd1;
  padding: 120px 0;
  margin-top: 180px;
  position: relative;
}
.email__img1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.email__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.email__title {
  text-align: center;
  gap: 8px;
}
.email__title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #1E212C;
}
.email__title h2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  color: #1E212C;
}
.email__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.email__email input {
  width: 422px;
  height: 52px;
  padding: 13px 271px 13px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #D7dadd;
  background: white;
}
.email__email button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: white;
  border: none;
  background: #FF3F3A;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.footer {
  background: #1E212C;
  padding: 80px 0 60px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.footer__container h3 {
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
.footer__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.footer__container li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: white;
  line-height: 160%;
  font-family: Lato sans-serif;
}
.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer p {
  margin: 24px 0 38px;
  width: 279px;
  color: white;
}
.footer__right input {
  width: 286px;
  height: 36px;
  padding: 9px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 173px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.12);
}
.footer__right p {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  color: white;
}